
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto 1fr;
  row-gap: 1rem;
}

.grid-top {
  grid-row-start: 1;
}

.routes-section {
  grid-row-start: 2;
}

.grid-content {
  grid-row-start: 3;
}
