.section {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

select {
  background-color: var(--color-black);
  padding: .25rem .5rem;
  border: 1px solid var(--color-ternary);
  width: 400px;
}

.flex-button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-button-row button {
  flex: 1;
  width: 1fr;
  margin: 0 1rem;
}

.flex-button-row button:first-child {
  margin-left: 0;
}

.flex-button-row button:last-child {
  margin-right: 0;
}

button {
  padding: .5rem .75rem;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: nunito-black;
}
button:hover {
  cursor: pointer;
  border: 2px solid var(--color-ternary);
}

.button1 {border: 2px solid #03fc6f;} /* Green */
.button2 {border: 2px solid #03fca5;} /* Blue */
.button3 {border: 2px solid #ebfc03;} /* Red */
.button4 {border: 2px solid #fcd703;} /* Gray */
.button5 {border: 2px solid #fc5203;} /* Black */
.button6 {border: 2px solid #fc0303;} /* Black */