.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button1 {background-color: #03fc6f;} /* Green */
.button2 {background-color: #03fca5;} /* Blue */
.button3 {background-color: #ebfc03;} /* Red */
.button4 {background-color: #fcd703;} /* Gray */
.button5 {background-color: #fc5203;} /* Black */
.button6 {background-color: #fc0303;} /* Black */